*, :before, *:after {
   position: relative;
   box-sizing: border-box;
   line-height: 1.4;
}

body {
   min-width: 360px;
   min-height: 100dvh;
   font-family: 'Inconsolata', monospace;
   font-size: 16px;
   color: #ffffff;
   overflow-x: hidden;
   background-color: #0e567e;
   margin: 0;
}

.main {
   padding: 20px;
   position: relative;
   height: 100%;
}

.result-area {
   width: 450px;
   height: 450px;
   background-color: #2b2b2b;
   border-radius: 8px;
   padding: 16px 0 16px 16px;
   margin: 20px auto;
   overflow: hidden;
}

.result-area__title {
   font-family: Lato, sans-serif;
   text-align: center;
}

.result-area__code {
   height: 100%;
   margin-right: 8px;
   overflow-y: scroll;
}

.palette-group {
   margin-bottom: 4px;
}

.palette-title, .palette-closer {
   color: #389ff4;
}

.color-variant {
   display: flex;
   align-items: center;
   padding-left: 40px;
}

.color-variant:hover {
   background-color: #fffff225;
   border-radius: 4px;
}

.color-variant__value {
   color: #a5c261;
}

.color-variant__hex {
   color: #6897bb;
}

.color-variant__color-preview {
   width: 16px;
   height: 16px;
   display: inline-block;
   border: 1px solid #8d8d8d;
   margin-right: 6px;
}

/*  */
::-webkit-scrollbar {
   width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #818181;
   border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #626262;
   border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #396794;
}
